#intro {
    background-image: url("https://static.wixstatic.com/media/5fc2ad_43713d9a681548448a6578a5979f5800~mv2.jpg/v1/fill/w_1343,h_1180,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/3840x2160Background.jpg");
    height: 100vh;
    background-size: cover;
}

#bodypages {
    background-image: url("https://static.wixstatic.com/media/5fc2ad_43713d9a681548448a6578a5979f5800~mv2.jpg/v1/fill/w_1343,h_1180,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/3840x2160Background.jpg");
    height: 100vh;
    background-size: cover;
}

.whiteText {
    color: #fff;
    margin: 2rem 0;
}

.redText {
    color: rgb(225, 11, 11);
}

.pintro {
    background-color: #000;
}

html,
body,
.intro {
    height: 750px;
}

@media (min-width: 550px) and (max-width: 750px) {
    html,
    body,
    .intro {
    height: 750px;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    .intro {
    height: 750px;
}
}

.mask-custom {
    backdrop-filter: blur(15px);
    background-color: rgba(255,255,255,.2);
    border-radius: 3em;
    border: 2px solid rgba(255,255,255,.1);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}