.spg2 {
    color: rgb(225, 11, 11);
}

.backblack {
    @include background(#000);
}

.whiteText {
    color: #fff;
    margin: 2rem 0;
}

.redText {
    color: rgb(225, 11, 11);
}

.pintro {
    @include background(#000);
}

$redes: ( /*Declaracion del mapa*/
    twitter: #55acee,
    facebook:  #3b5998,
    instagram: #ac2bac
); 

/*bucle para usar los valores del mapa*/
@each $red, $color in $redes {
    .btn--#{$red} {
        background-color: $color;
    }
}


.p-3 {
    @include background(rgba(0, 0, 0, 0.7));
}

footer {
    .tW {
        @include background(#55acee);
    }
    
    .fB {
        @include background(#3b5998);
    }
    
    .iG {
        @include background(#ac2bac);
    }
}