.spg2 {
    color: rgb(225, 11, 11);
}

.backblack {
    background-color: #000;
}

.whiteText {
    color: #fff;
    margin: 2rem 0;
}

.redText {
    color: rgb(225, 11, 11);
}

.pintro {
    background-color: #000;
}

footer {
    .fB {
        background-color: #3b5998;
    }
}

footer {
    .tW {
        background-color: #55acee;
    }
}

footer {
    .iG {
        background-color: #ac2bac;
    }
}

.p-3 {
    background-color: rgba(0, 0, 0, 0.7);
}