@import "utilidad";
@import "mediaq";
@import "colors";

.roster {
    margin: 2rem 0;
}

html,
body,
.intro {
    height: 750px;
}

.mask-custom {
    backdrop-filter: blur(15px);
    @include background(rgba(255,255,255,.2));
    border-radius: 3em;
    border: 2px solid rgba(255,255,255,.1);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

#hr {
    @include background(rgb(225, 11, 11));
    height: 1rem;
    width: 100%;
}
/* font titulos */
h1 {
    font-family: 'Tapestry', cursive;
}

h2, h3 {
    @extend h1;
}